<!-- src/app/posts/posts.component.html -->

<div class="container mx-auto mt-8 p-4">
  <app-filter-posts
    (filtered)="onFilteredPosts($event)"
    (reset)="onResetFilters()"
  ></app-filter-posts>

  <!-- Normal Posts -->
  <h1 class="text-2xl font-bold mb-4" *ngIf="!selectedPost && !isFiltered">
    All Posts
  </h1>
  <ul *ngIf="!selectedPost && posts.length > 0 && !isFiltered; else noPostsMessage" class="space-y-4">
    <li
      *ngFor="let post of posts"
      class="p-4 border rounded shadow-md bg-gray-100 hover:bg-gray-200"
    >
      <h2 class="text-lg font-semibold text-blue-600">{{ post.title }}</h2>
      <p class="text-gray-700">{{ post.content }}</p>
      <div class="text-sm text-gray-500">
        <span class="text-red-900">By {{ post.redactor }}</span> |
        <span>Date: {{ post.createdDate | date: 'medium' }}</span>
      </div>
      <div class="mt-2 flex space-x-4">
        <button
          (click)="post.id && viewComments(+post.id)"
          class="text-blue-600 underline hover:text-blue-800"
        >
          View Comments
        </button>
        <button
          *ngIf="userRole === 'redactor'"
          (click)="editPost(post)"
          class="text-blue-600 underline hover:text-blue-800"
        >
          Edit
        </button>
      </div>
    </li>
  </ul>

  <!-- Filtered Posts -->
  <ul *ngIf="isFiltered && filteredPosts.length > 0" class="space-y-4 mt-4">
    <li
      *ngFor="let post of filteredPosts"
      class="p-4 border rounded shadow-md bg-gray-100 hover:bg-gray-200"
    >
      <h2 class="text-lg font-semibold text-blue-600">{{ post.title }}</h2>
      <p class="text-gray-700">{{ post.content }}</p>
      <div class="text-sm text-gray-500">
        <span class="text-red-900">By {{ post.redactor }}</span> |
        <span>Date: {{ post.createdDate | date: 'medium' }}</span>
      </div>
      <div class="mt-2 flex space-x-4">
        <button
          (click)="post.id && viewComments(+post.id)"
          class="text-blue-600 underline hover:text-blue-800"
        >
          View Comments
        </button>
        <button
          *ngIf="userRole === 'redactor'"
          (click)="editPost(post)"
          class="text-blue-600 underline hover:text-blue-800"
        >
          Edit
        </button>
      </div>
    </li>
  </ul>

  <!-- Edit Component -->
  <app-edit-post
    *ngIf="selectedPost"
    [post]="selectedPost"
    (save)="saveUpdatedPost($event)"
    (cancel)="cancelEdit()"
  ></app-edit-post>

  <ng-template #noPostsMessage>
    <div *ngIf="!isFiltered" class="text-gray-600">No posts available.</div>
  </ng-template>
</div>
