<div class="fixed top-4 right-4 w-80">

  @if(loading) {
    <div class="flex justify-center items-center mb-4">
      <mat-progress-spinner mode="indeterminate" diameter="30" color="primary"></mat-progress-spinner>
    </div>
  }

  @if(error) {
    <div class="mb-4">
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
        role="alert"
      >
        <span class="block sm:inline">{{ error }}</span>
      </div>
    </div>
  }

  @for(notification of notifications; track notification.id) {
    <div class="mb-4">
      <div class="bg-blue-100 border border-blue-400 text-blue-700 px-4 py-3 rounded relative flex items-center justify-between">
        <span class="block sm:inline">{{ notification.message }}</span>
        <button
          (click)="deleteNotification(notification.id)"
          class="focus:outline-none"
          aria-label="Delete Notification"
        >
          <mat-icon class="text-red-700 hover:text-red-900">X</mat-icon>
        </button>
      </div>
    </div>
  }
</div>
