<div class="comments-section">
    <h3 class="text-lg font-bold">Comments:</h3>
<ul *ngIf="comments.length > 0; else noComments">
      <li *ngFor="let comment of comments" class="p-2 border-b">
        <div *ngIf="editingComment && editingComment.id === comment.id; else viewMode">
          <textarea
            [(ngModel)]="editingComment.content"
            class="w-full p-2 border rounded"
          ></textarea>
          <button (click)="saveEdit()" class="text-blue-600 underline">Save</button>
          <button (click)="cancelEdit()" class="text-red-600 underline">Cancel</button>
        </div>
        <ng-template #viewMode>
          <p class="text-gray-700">{{ comment?.content }}</p>
          <span class="text-sm text-gray-500">By {{ comment?.user }}</span>
          <div *ngIf="comment?.user === loggedInUser" class="mt-1">
            <button
              (click)="editComment(comment)"
              class="text-blue-600 underline"
            >
              Edit
            </button>
            <button
              (click)="deleteComment(+comment?.id!)"
              class="text-red-600 underline"
            >
              Delete
            </button>
          </div>
        </ng-template>
      </li>
    </ul>
    <ng-template #noComments>
      <p class="text-gray-600">No comments available for this post.</p>
    </ng-template>
  
    <div class="mt-4">
      <textarea
        [(ngModel)]="newCommentContent"
        class="w-full p-2 border rounded"
        placeholder="Add a comment..."
      ></textarea>
      <button (click)="addComment()" class="mt-2 text-blue-600 underline">
        Submit
      </button>
    </div>
  </div>
  